body {
    margin : 0;
    background-color:rgb(42, 170, 42);/*ブラウザ自体の背景色指定*/

}

#map-operate {
    width: 100vw;/*横幅の指定*/
    height: 100vh;/*高さの指定*/
    position: relative;/*相対位置指定*/
    /*overflow: hidden;/*範囲外の表示オフ*/
}

#map {
    width: 300px;/*横幅の指定*/
    height: 200px;/*高さの指定*/
    position: relative;/*相対位置指定*/

    transform: scale(4);/*マップUIの拡大率指定*/

    background-image: url("img/map_ss.png");/*背景画像の指定*/
    background-size: 100% 100%;/*背景画像のサイズ指定*/
    background-repeat: no-repeat;/*背景画像の繰り返しオフ*/
    transform-origin: top left;/*変形の基準点を左上に指定*/

}

#grid {
    position: absolute;/*親を配置基準にする*/
    width: 100%;/*横幅の指定*/
    height: 100%;/*高さの指定*/

}

.x-line {
    position: absolute;/*親を配置基準にする*/
    width: 100%;/*横幅の指定*/
    height: 1px;/*高さの指定*/
    top: 5px;/*topの指定*/

    background-color: transparent;
    /*background: repeating-linear-gradient(
        90deg,
        white 0px,
        white 2px,
        transparent 2px,
        transparent 4px,
        white 4px,
        white 5px
    );*/

}

.y-line {
    position: absolute;/*親を配置基準にする*/
    width: 1px;/*横幅の指定*/
    height: 100%;/*高さの指定*/
    left: 5px;/*leftの指定*/

    background-color: transparent;
    /*background: repeating-linear-gradient(
        180deg,
        white 0px,
        white 2px,
        transparent 2px,
        transparent 4px,
        white 4px,
        white 5px
    );*/
}

.way-tile {
    position: absolute;/*親を配置基準にする*/
    width: 1px;/*横幅の指定*/
    height: 1px;/*高さの指定*/
    top: 0px;/*topの指定*/
    left: 0px;/*leftの指定*/

    background-color: black;/*色の指定*/
}

.object {
    position: absolute;/*親を配置基準にする*/
    width: 1px;/*横幅の指定*/
    height: 1px;/*高さの指定*/
    top: 0px;/*topの指定*/
    left: 0px;/*leftの指定*/

    background-color: red;/*色の指定*/
}

.object-name-panel {
    position: absolute;/*親を配置基準にする*/

    border: 0.5px solid black;/*外枠の設定*/
    background-color: white;/*色の指定*/
    font-size: 3px;
    padding: 1px 2px;/*余白サイズの指定*/
    border-radius: 3px;/*角を丸くする*/
    white-space: nowrap;/*改行しない*/

    left: 50%;
    bottom: 120%;
    transform: translatex(-50%);/*位置の調整*/
}

#user {
    position: absolute;/*親を配置基準にする*/
    width: 1px;/*横幅の指定*/
    height: 1px;/*高さの指定*/
    top: 0px;/*topの指定*/
    left: 0px;/*leftの指定*/

    background-color: purple;/*色の指定*/
}

.route-tile {
    position: absolute;/*親を配置基準にする*/
    width: 1px;/*横幅の指定*/
    height: 1px;/*高さの指定*/

    background-color: blue;/*色の指定*/
}